@import '/src/assets/styles/lists';
@import "/src/assets/styles/options";

.filters-sort-content {
    width: 83%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .opciones-container, app-sort ::ng-deep .opciones-container {
        width: 100%;
    }

    .opciones-container {
        align-self: flex-end;
    }
}

.content-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    gap: 30px;
}

.card {
    border-radius: 8px;

    img {
        width: 100%;
        height: auto;
        cursor: pointer;
        border-radius: 8px 8px 0px 0px;
    }

    .card-info {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0px 0px 0px 8px;

        .text {
            font-weight: 700;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            cursor: pointer;
        }
    }

}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 10px rgba(88, 176, 192, 0.8);
}

@media screen and (max-width: 500px) {
    .filters-sort-content {
        display: block;
    }
}