<ng-container *ngIf="(store.select('rickAndMorty') | async)?.responseApi?.results?.length > 0">
  <div>
    <h5 class="warning">(Ordenamiento por pagína)</h5>
    <div class="opciones-container">
      <div>
        <label for="orden">Ordenar por:</label>
        <select [formControl]="fieldSort" (change)="sort()">
          <option value="">Sin orden</option>
          <ng-container *ngFor="let item of listFields">
            <option [value]="item.value">{{ item.label }}</option>
          </ng-container>
        </select>
      </div>

      <div *ngIf="fieldSort.value">
        <label for="orden">Tipo de ordenamiento:</label>
        <select [formControl]="typeSort" (change)="sort()">
          <option value="asc">Ascendente</option>
          <option value="desc">Descendente</option>
        </select>
      </div>
    </div>
  </div>
</ng-container>