<ng-container *ngIf="(store.select('rickAndMorty') | async)?.responseApi?.results?.length > 0">
  <h4>Ordenamiento por pagína</h4>
  <div class="opciones-container">
    <label for="orden">Orden:</label>
    <select [formControl]="fieldSort" (change)="sort()">
      <option value="">Sin orden</option>
      <option value="name">name</option>
      <option value="type">type</option>
    </select>

    <ng-container *ngIf="fieldSort.value">
      <label for="orden">Tipo de ordenamiento:</label>
      <select [formControl]="typeSort" (change)="sort()">
        <option value="asc">Ascendente</option>
        <option value="desc">Descendente</option>
      </select>
    </ng-container>
  </div>
</ng-container>