<div class="main-container">
  <app-filter (emitFilter)="getLocations()"></app-filter>

  <app-sort (emitSort)="getLocations()"></app-sort>

  <div class="average-width">
    <h2 class="title">Lista de lugares</h2>
    <ul class="list" *ngIf="(store.select('rickAndMorty') | async).responseApi">
      <li *ngFor="let item of (store.select('rickAndMorty') | async).responseApi.results" class="list-item">
        <a class="item-link">
          {{ item.name }} {{ item.type ? ' - ' + item.type: '' }}
        </a>
      </li>
    </ul>
  </div>
  
  <app-pagination (emitPageChange)="getLocations()"></app-pagination>
</div>