<app-filter (emitFilter)="getLocations()"></app-filter>

<app-sort (emitSort)="getLocations()"></app-sort>

<h2>Lista de episodios</h2>
<ul class="episodios-list" *ngIf="(store.select('rickAndMorty') | async).responseApi">
  <li *ngFor="let item of (store.select('rickAndMorty') | async).responseApi.results" class="episodios-item">
    <a class="episodios-link">
      {{ item.name }} {{ item.type ? ' - ' + item.type: '' }}
    </a>
  </li>
</ul>

<app-pagination (emitPageChange)="getLocations()"></app-pagination>