@import '/src/assets/styles/lists';


.opciones-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.opciones-container label {
  margin-right: 10px;
}

.opciones-container select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.opciones-container select option {
  background-color: #fff;
}

.opciones-container select option[value=""] {
  font-style: italic;
}

.opciones-container select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}