<div class="filter-content">
    <div class="opciones-container margin-0">
        <label for="filter" class="nowrap">Buscar por:</label>
        <select [formControl]="fieldToSearch" (change)="search()">
            <ng-container *ngFor="let item of listFields">
                <option [value]="item.value">{{ item.label }}</option>
            </ng-container>
        </select>
    </div>
    
    <div class="busqueda-container">
        <input type="text" [formControl]="worldToSearch" placeholder="Buscar..." class="busqueda-input">
    </div>
</div>