
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.main-container {
    background-color: #3a3a3a;
}

.title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.167;
    letter-spacing: 0em;
}

p {
    margin: 0px;
}

.average-width {
    width: 80%;
    margin: 0 auto;
}

button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: 15px;
    border-radius: 14px;
    color: black;
}

button:hover {
    background-color: #e0e0e0;
}

button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
}

select:focus-visible, :focus-visible{
    outline: none;
}