.information-content{
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex {
    display: flex;
    gap: 15px;
}

.sub-title {
    font-weight: 700;
}

.modal-content {
    background-color: #3a3a3a;
}